################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/BmiSample/.vs/BmiSample/v15
/BmiSample/BmiSample.Console/obj
/BmiSample/BmiSample.Console/bin/Debug/netcoreapp2.1
/BmiSample/.vs/BmiSample/DesignTimeBuild
/BmiSample/BmiSample.Domain/bin/Debug/netcoreapp2.1
/BmiSample/BmiSample.Domain/obj
/BmiSample/BmiSample.DomainTest/bin/Debug/netcoreapp2.1
/BmiSample/BmiSample.DomainTest/obj
/BmiSample/.vs/config
/BmiSample/BmiSample.Mvc/bin/Debug/netcoreapp2.1
/BmiSample/BmiSample.Mvc/obj
/BmiSample/.vs/BmiSample
/BmiSample/BmiSample.DomainTest/bin/Debug/netcoreapp3.1
/BmiSample/BmiSample.Domain/bin/Debug/netcoreapp3.1
/BmiSample/BmiSample.Console/bin/Debug/netcoreapp3.1
/BmiSample/BmiSample.Mvc/bin/Debug/netcoreapp3.1
/BmiSample/BmiSample.Wpf/bin/Debug/netcoreapp3.1
/BmiSample/BmiSample.Wpf/obj
/.vs
/DiarySample/.vs/DiarySample
/DiarySample/DiarySample.Mvc/bin/Debug/netcoreapp3.1
/DiarySample/DiarySample.Mvc/obj
