################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/BmiSample/.vs/BmiSample/v15
/BmiSample/BmiSample.Console/obj
